{
BasedOnStyle: LLVM,
UseTab: Never,
IndentWidth: 4,
TabWidth: 4,
#在大括号前换行: Attach(始终将大括号附加到周围的上下文), Linux(除函数、命名空间和类定义，与Attach类似), 
#   Mozilla(除枚举、函数、记录定义，与Attach类似), Stroustrup(除函数定义、catch、else，与Attach类似), 
#   Allman(总是在大括号前换行), GNU(总是在大括号前换行，并对于控制语句的大括号增加额外的缩进), WebKit(在函数前换行), Custom
#   注：这里认为语句块也属于函数
BreakBeforeBraces: Custom,
# 大括号换行，只有当BreakBeforeBraces设置为Custom时才有效
BraceWrapping:   {
  # class定义后面
  AfterClass:	false,
  # 控制语句后面
  AfterControlStatement:	false,
  # enum定义后面
  AfterEnum:	false,
  # 函数定义后面
  AfterFunction:	false,
  # 命名空间定义后面
  AfterNamespace:	false,
  # ObjC定义后面
  AfterObjCDeclaration:	false,
  # struct定义后面
  AfterStruct:	false,
  # union定义后面
  AfterUnion:	false,
  # catch之前
  BeforeCatch:	true,
  # else之前
  BeforeElse:	true,
  # 缩进大括号
  IndentBraces:	false,
},
AllowShortIfStatementsOnASingleLine: true,
IndentCaseLabels: false,
# 访问说明符(public、private等)的偏移
AccessModifierOffset: 0,
NamespaceIndentation: All,
FixNamespaceComments: false,
ColumnLimit:	200,
# 允许重新排版注释
ReflowComments:	true,
# 允许排序#include
SortIncludes:	true,
}
