[submodule "3rd/rapidjson"]
	path = 3rd/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "3rd/ip2region"]
	path = 3rd/ip2region
	url = https://github.com/abumpkin/ip2region.git
[submodule "3rd/loguru"]
	path = 3rd/loguru
	url = https://github.com/emilk/loguru.git
[submodule "3rd/pugixml"]
	path = 3rd/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "3rd/SQLiteCpp"]
	path = 3rd/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "3rd/fmt"]
	path = 3rd/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "3rd/yaml-cpp"]
	path = 3rd/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "3rd/oatpp"]
	path = 3rd/oatpp
	url = https://github.com/oatpp/oatpp.git
