[submodule "3rd/rapidjson"]
	path = 3rd/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "3rd/ip2region"]
	path = 3rd/ip2region
	url = https://github.com/lionsoul2014/ip2region.git
[submodule "3rd/loguru"]
	path = 3rd/loguru
	url = https://github.com/emilk/loguru.git
[submodule "3rd/boost"]
	path = 3rd/boost
	url = https://github.com/boostorg/boost.git
[submodule "3rd/tinyxml2"]
	path = 3rd/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "3rd/oatpp"]
	path = 3rd/oatpp
	url = https://github.com/oatpp/oatpp.git
